.container {
  max-width: 120rem;
  margin: auto;
  width: 90%;
}

.heading {
  font-weight: 600;
}

.heading-bold {
  font-weight: 700;
}

.heading-primary {
  font-size: 6rem;
  position: relative;
  @include respond(phone) {
    font-size: 4.5rem;
  }
}

.heading-primary-dec {
  margin-bottom: 5rem;

  &::after {
    content: '';
    position: absolute;
    width: 5rem;
    background: $themeTextMain;
    height: 5px;
    top: 120%;
    left: 0%;
  }
}

.heading-primary-cent {
  text-align: center;
  &::after {
    content: '';
    left: 50%;
    transform: translateX(-50%);
    background: $themeTextMain;
  }
}

.heading-sec {
  font-size: 5rem;
  @include respond(phone) {
    font-size: 4rem;
  }
}

.heading-sm {
  font-size: 2rem;
}

.text-primary {
  font-size: 2rem;
  line-height: 1.7;
  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.text-sec {
  font-size: 1.7rem;
  line-height: 1.8;
}

.text-tertiary {
  font-size: 1.6rem;
  line-height: 1.6;
}

.section-heading {
  position: relative;
  display: inline-block;
}

.section-heading::after {
  content: '';
  position: absolute;
  width: 5rem;
  background: #000;
  height: 3px;
  top: 110%;
  left: 0%;
}

.btn {
  padding: 1.8rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  color: #000;
  min-width: 22rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border-radius: 5px;
  &--primary {
    background: #000;
    color: #fff;
  }

  &--secondary {
    background: #fff;
  }

  &--theme {
    color: $themeTextMain;
    background-image: linear-gradient(to right, $themeClrMain, $themeClrSec);
  }
}


.line-break {
  white-space: pre-wrap;
}