.main-blogs {
  background: #eee;
  min-height: 100vh;
  padding: 8rem 0;

  @include respond(phone) {
    padding: 5rem 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    padding: 5px 5px 2rem 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(grey, 0.1);
    border-radius: 5px;
    cursor: pointer;
  }
  &__item-img-cont {
    margin-bottom: 3rem;
  }
  &__item-img {
    width: 100%;
  }
  &__item-content {
    padding: 0 3rem;
  }
  &__item-title {
    font-size: 2rem;
    color: #777;
    font-weight: 600;
    margin-bottom: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  &__item-author-info {
    display: flex;
    align-items: center;
  }
  &__item-author-img-cont {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50px;
    margin-right: 1rem;
  }

  &__item-author-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__item-author-name {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #999;
    font-weight: 700;
  }

  &__pagination {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include respond(phone) {
      margin-top: 4rem;
      justify-content: center;
    }
  }
  &__pag-btn {
    border-radius: 5px;
    min-width: 15rem;
    font-size: 1.5rem;
    @include respond(phone) {
      min-width: 12rem;
      font-size: 1.4rem;
    }
    &:first-child {
      margin-right: 2rem;
    }
  }
}

.main-blog {
  padding: 20rem 0 8rem 0;

  &__container {
    max-width: 80rem;
  }

  &__heading-primary {
    margin-bottom: 5rem;
    @include respond(phone) {
      margin-bottom: 4rem;
    }
  }

  &__article {
    font-size: 1.8rem;
    max-width: 80rem;
    margin: auto;
    line-height: 1.8;
    color: #555;
    overflow: hidden;
  }

  img,
  picture,
  video,
  svg,
  iframe,
  figure,
  embed,
  frame,
  canvas,
  audio {
    width: 100%;
  }

  @include respond(phone) {
    padding: 15rem 0 5rem 0;
  }

  &__pag {
    margin-top: 6rem;
  }
}
