
$themeClrMain: #7854f7;
$themeClrSec: #45c3f8;
$themeTextMain: #fff;
$themeTextSec: rgb(250,250,250);



// Personal
// $themeClrMain: #fabc33;
// $themeClrSec: #fabc33;
// $themeTextMain: #000;
// $themeTextSec: #333;